.creator--cursor
{
  position: fixed;
  display: inline-block;
  z-index: 2;
  pointer-events: none;

  font-family: cursive;
  user-select: none;
}


canvas
{
  cursor: none;
}

body > section
{
  display: flex;
  justify-content: space-around;
  gap: 10%;
}
