:root
{
  --cursor-color: black;
  --canvasBackground: #7cccb2;
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: monospace;

  scrollbar-color: #458245 #714826;
  scrollbar-width: thin;
}


::-webkit-scrollbar {
  width: 1vh;
  height: 1vh;
  background-color: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 9em;
  transition: background-color 100ms;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* Стрелки */

::-webkit-scrollbar-button:vertical:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment,
::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:horizontal:end:increment
{
  display: none;
}


body
{
  cursor: url("cursor.svg") 8 8, auto;
  position: relative;

  background: #211f47;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 5vh;
}

main
{
  position: sticky;
  top: 0;

  overflow: auto;
  max-width: 92vw;
  max-height: 92vh;

  border: 3px dashed #4b0082;
  background: var( --canvasBackground );
}

canvas
{
  background: var( --canvasBackground );
  outline: none;
  height: auto;

  image-rendering: auto;
}

section
{
  position: fixed;
  bottom: 0;
}

select
{
  background: none;
  height: 5vh;
  min-height: 10px;
  min-width: 20vw;
  display: inline-block;
}

body > section .select-button
{
  width: fit-content;
  min-width: 50%;

}


.select-button
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;


  font-size: 1vw;
  max-width: 40vw;
}

.select-button select
{
  color: transparent;
  pointer-events: all;
  cursor: inherit;

  border-width: min(1px, 0.1vh);
}

.select-button select:focus
{
  outline: none;
}


.select-button select option
{
  color: white;
  background: #211f47;
  outline: none;
  border: none;
}

.select-button::before
{
  content: attr(data-content);
  color: white;
  display: inline-block;

  position: absolute;
}
